
*{
    font-family: 'Noto Sans TC', sans-serif;
    
    box-sizing: border-box;
}


hr{
    height: 3px;
    background-color: darkgray;
}



.btn-dark{
   background-color: white;
   border-color: black; 
   color: black;
}


.btn-dark:hover{
   background-color: black;
   color: white!important;
   border-color: white;
 }

.card-image{
    width: 300px;
    padding: 10px;
    margin:0 auto;
}
